* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url("clock-bg.jpg");
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 160px;
    width: 350px;
    border: 12px solid rgba(109, 133, 126, 0.507);
    /* border-bottom: 0; */
    box-shadow: 0px 0px 60px #ffffff48;

    margin-top: 100px;
    /* padding: 4px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#date {
    margin-bottom: 0;
}
.time {
    display: flex;
    justify-content: center;
}

#date {
    font-size: x-large;
}
.time p {
    font-size: xx-large;
}
.colon {
    margin-left: 10px;
    margin-right: 10px;
}
#am_pm {
    margin-left: 20px;
}
.progressBox {
width: 100%;
}
#progress {
    height: 8px;
    background-color: rgba(109, 133, 126, 0.507);
    align-self: center;
}